@model Dywizjon.Models.Variant

@{
    ViewBag.Title = "Create";
    var list = new List<string>() { "basic", "vip", "ultra" };
}

<h2>Wybierz rodzaj usługi</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Name, new SelectList(list), "Wybierz rodzaj", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Zamów" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Przejdź do listy zamówień", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
